body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C71585;
}

.container {
    text-align: center;
    background: yellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(141, 141, 141, 0.2);
}

h1 {
    color: #C71585;
}

p{
    color:#C71585;
    font-size: 18px;
    margin: 10px 0;
}

img {
    margin: 15px 0;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hover-button {

    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* transition fluide*/
}

.hover-button:hover {
    background-color: #0056b3; /*devient bleu au survol */
<<<<<<< HEAD
}

/* Styles por le formulaire */
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.signup-form label {
    font-weight: bold;
    color: #C71585;
}

.signup-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-form input:focus {
    border-color: #C71585;
    otline: none;
}

.form-button {
    background-color: #C71585;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.from-button:hover {
    background-color: #9b125f;
=======
>>>>>>> c063b75d87986dafe2e603606f5b7f6ed9ec8428
}